#header {
  text-align: center;
}

#quicken-header {
  font-size: 60px;
}

#sub-header {
  color: rgb(178, 0, 0);
}

#calculator {
  text-align: center;
  margin-top: 30px;
}

.operand {
  width: 35%;
  height: 50px;
  font-size: 45px;
  text-align: center;
  border: none;
  line-height: 0px;
  border-bottom: 3px solid black;
  background: transparent;
  outline: none
}

.operators {
  font-size: 40px;
  border: none;
  margin: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  background: transparent;
}

#answer-block {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 100px;
  line-height: 81px;
}

#errors {
  color: red;
  text-align: center;
}
